@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    font-family: 'Muli', sans-serif;
    width: 100vw;
    height: 1000px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1300;
    margin: auto;
}

.nav-up {
    background-color: #ffe400;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-up-title {
    padding: 0.9em;
    font-size: 15px;
    font-weight: 500;
}

.navigation {
    display: flex;
    /* background-color: black; */
    /* padding: 0.8em 1em 0.1em 1em; */
    justify-content: space-between;
    color: white;
    background: rgb(8, 8, 32);
    border: none;
    position: sticky;
    top: -0.2px;
    z-index: 2;
}

.nav-left {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav-middle {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.middle-up {
    width: 100%;
    height: 50%;
}

.middle-up ul {
    margin-top: 1em;
    display: flex;
    list-style: none;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.middle-up ul li select {
    width: 100px;
    color: white;
    background: rgb(8, 8, 32);
}

.middle-up ul li select {
    border: none;
    outline: none;
}

.middle-down {
    width: 100%;
    height: 50%;
    margin-top: 0.3em;
    margin-left: 3.5em;
}

.middle-down button {
    margin-left: 2em;
    height: 35px;
    width: 110px;
    color: rgb(51, 50, 50);
    background: #ffe400;
    /* border: 1px solid yellow; */
}

.nav-right {
    width: 15%;
    display: flex;
    justify-content: start;
    /* align-items: center; */
}

.nav-right button {
    height: 30px;
    color: yellow;
    background: #000;
    border: 1px solid yellow;
    padding: 0.1em 0.3em 0.1em 0.3em;
    margin-top: 1em;
    margin-left: -1.8em;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.section-heading {
    text-align: center;
}

.section-heading p {
    font-size: 35px;
    font-weight: 800;
}

/* .section-img{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    align-items: flex-end;
}
.section-title{
    display: flex;
    justify-content: space-between;
    align-items: start;

}
.section-title p{
    color: gray;
    font-weight: 600;
    font-size: 18px;
    padding: 45px;
} */
.img-title {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    /* gap: 8em; */
}

.img-title img {
    padding-bottom: 1em;
}

.img span p {
    max-width: 100px;
    color: gray;
    font-weight: 600;
    font-size: 18px;
}

.offer {
    background: url(https://goldsgym.in/assets/frontend/css/workbaner.jpg);
    background-color: rgba(0, 57, 97, 0.76);
}

.container1 {
    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;

}

.container1 img {
    cursor: pointer;

}

.container1a {
    justify-content: space-around;
    text-align: center;


}

.container1aa {
    margin: auto;
    font-size: 35px;
    font-weight: 400;
    color: #ffe400;
}

.container1ab {
    margin: auto;
    font-size: 16px;
    font-weight: 300;
    color: #ffe400;
}

.button {
    text-decoration: none;
    border-radius: 0;
    border: 1px solid #ffe400f7;
    color: #ffe400f7;

}

.container1a a {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffe400;
}

.container1a a:hover {
    color: #ffe400;
}

.img {
    margin: auto;
    align-items: center;
}

.getInTouch {
    margin-top: 3em;
    display: flex;
    /* width: 100vw; */
}

.getInTouch-left {
    width: 55%;
    text-align: center;
    margin-left: 7em;
    /* display: flex;
    flex-direction: column; */
}

.getInTouch-left span i {
    padding-bottom: 2em;
    display: inline;
    font-size: 32px;
}

.getInTouch-left div {
    margin-top: 2em;
}

.getInTouch-right {

    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.getInTouch-right .spn {
    display: flex;
    margin-left: 6.8em;
}

.spn p {
    font-size: 28px;
}

.getInTouch-right select {
    margin-top: 1em;
    margin-left: 3.3em;
    width: 380px;
    padding: 0.44em;
    outline: blue;
}

.getInTouch-right input {
    margin-top: 1em;
    margin-left: 3.3em;
    width: 380px;
    padding: 0.44em;
    outline: blue;
}

.chkbox {
    height: 60px;
    width: 300px;
    margin-top: 1em;
    margin-left: 3.3em;
    padding: 0.2em;
    background-color: rgb(220, 218, 218);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chkbox input {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: -1.5em;
}

.chkbox p {
    margin-top: 20px;
}

.chkbox img {
    height: 50px;
    width: 80px;
    background: transparent;
}

.btn button {
    background-color: #ffe400;
    width: 10em;
    height: 3em;
    border: 0.1px solid black;
    margin-left: -16em;
}

.lower {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lower-up h1 {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 25px;

}

.grid-item {
    background-color: #ffffff;
    width: 360px;
    padding: 7px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    transition: transform 0.9s;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.grid-item p {
    font-weight: bold;
}

.grid-item button {
    background-color: #ffe400;
    padding: 0.1em;
    width: 5em;
    border: 0.1px solid black;
    font-style: italic;
}

.lower1 {
    margin-top: 2em;
    background-color: #000;
    padding: 0.1em;
    /* display: flex; */
}

.lower1-title h1 {

    margin-top: 1em;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.lower1-subtitle {
    display: flex;
}

.subtitle-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.subtitle-left p {
    max-width: 350px;
    color: white;
    font-weight: 600;
    margin-left: 8em;
    margin-top: 6em;
}

.subtitle-right {
    width: 50%;
    padding-bottom: 50px;
}

.subtitle-right img {
    height: 250px;
    margin-top: 2em;
    margin-left: 5em;
}

.lower2 {
    background: url(https://goldsgym.in/assets/frontend/css/workbaner.jpg);

}

.lower2-title {
    text-align: center;
    background-color: rgba(0, 57, 97, .76);
}

.lower2-title h1 {

    padding-top: 1em;
}

.lower2-title p {

    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -1.6em;
}

.lower2-middle {
    background-color: rgba(0, 57, 97, .76);
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.lower2-middle img {
    margin-top: 4em;
}

.lower2-down {
    background-color: rgba(0, 57, 97, .76);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.2em;
}

.lower2-down .btn {
    margin-top: 2em;
    background-color: #ffe400;
    width: 10em;
    height: 3em;
    border: 0.1px solid black;

}

.title h1 {
    margin-left: 5em;
    margin-top: 1em;
}

.desc {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.desc .btn {
    margin-top: 10em;
    background-color: black;
    color: white;
    height: 45px;
    width: 38px;
}

.caption {
    height: 400px;
    width: 300px;
    margin-top: 1em;
    /* border: 1px solid black; */
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    transition: transform 0.7s;
}

.caption:hover {
    transform: translateY(-15px);
}

.caption img {
    height: 220px;
    width: 100%;
}

.title {
    margin: 0.5em 0.5em 0.1em 0.3em;
    font-weight: bold;
}

.subtitle {
    padding: 1em;
}

.latestblog {
    background: url(https://goldsgym.in/assets/frontend/css/workbaner.jpg);
}

.latestblog-title {
    background-color: rgba(0, 57, 97, .76);
}

.latestblog-title h1 {
    color: white;
    margin: 2em 0 0 3em;
    padding-top: 1em;

}

.latestblog-desc {
    padding-top: 2em;
    background-color: rgba(0, 57, 97, .76);
    display: flex;
}

.desc-details {
    display: flex;
    width: 30%;
    gap: 2em;
    margin-left: 8em;
}

.desc-left .date {
    background-color: #ffe400;
    /* width: 44%px; */
    height: auto;
    max-width: 60px;
    padding: 1em;
    font-weight: 600;
}

.desc-right {
    max-width: 70%;
    margin-left: -1.7em;

}

.desc-right p {
    color: white;
}

.desc-right .btn {
    border: none;
    color: white;

}

.desc-right .btn i {
    margin-left: 0.3em;
}

.lower4-title {
    margin-top: 3em;
    text-align: center;
    padding-bottom: 2em;
}

.lower4-img {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.lower4-desc {
    margin-top: 2em;
    margin-left: 4.3em;
    text-align: center;
    max-width: 90%;
}

.lower4-desc p {
    font-weight: 500;
    color: gray;
}

.circle {
    font-size: 18px;
    margin-left: 45%;
    color: #ffe400;
    padding: 1.3em;
}

.footer {
    background: url(https://goldsgym.in/assets/images/footer-bg.jpg);
    display: flex;
    flex-direction: column;

}

.container3 {
    display: flex;
    justify-content: space-between;
}

.links {
    width: 30%;
    align-items: center;
}

.links h4 {
    margin-left: 6em;
    margin-top: 2em;
    color: #ffe400;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;

}

.rows {
    display: flex;
}

.rows ul li {
    margin-left: 4em;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
}

#news {
    padding: 2em;
    margin-top: -1.8em;
}

#news .btn {
    position: relative;
}

#news .btn i {
    position: absolute;
    right: .8em;
    top: .5em;
    background-color: white;
    width: 20px;
    height: 20px;
}

#news input {
    width: 19em;
    height: 2.5em;
    font-weight: bold;
    margin-left: 0.8em;
    border: 2px solid white;
    background-color: transparent;
    padding: 1.7em;
}

#news p {
    margin-left: 1.4em;
    color: white;
    font-weight: bold;
}

.social {
    display: flex;
    gap: 0.7em;
    justify-content: flex-start;
}

.social ul {
    list-style: none;
}

.social ul li a {
    margin-top: 1em;
    text-align: center;
    margin-left: -.11em;
    text-decoration: none;
    height: 30px;
    width: 30px;
    padding: .5em;
    background-color: #ffffff;
    color: black;
}

.linksleft {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    margin-right: 15px;
    border-bottom: 1px solid white;
}

.linksleft p {
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.footer-down {
    display: flex;
    padding: 1.5em 0.3em 1.5em .3em;
    justify-content: center;
    gap: 10em;
    background: url(https://goldsgym.in/assets/images/footer-bg.jpg);
    background-repeat: inherit;
}

.containera {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 30%;
}

.containera h4 {
    padding-top: 0;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.containera img {
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.containera p {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    padding-top: 2em;
}

/* for Responsive styles */

@media screen and (max-width: 768px) {
    .navigation {
        justify-content: space-evenly;
    }

    .nav-left {
        display: none;
    }

    .nav-middle {
        width: 100%;
    }

    .middle-up ul {
        gap: 20px;
    }

    .middle-down {
        margin: 0;
    }

    .nav-right {
        width: 20%;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .container1a {
        flex-direction: column;
        align-items: center;
    }

    .container1aa,
    .container1ab {
        margin: auto;
        text-align: center;
    }

    .img-title img {
        margin-bottom: 1em;
    }

    .lower {
        text-align: center;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .lower1-subtitle {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .subtitle-left p {
        margin-left: 0;
        margin-top: 1em;
    }

    .subtitle-right img {
        margin-left: 0;
        margin-top: 1em;
    }

    .lower2-middle {
        flex-direction: column;
        align-items: center;
    }

    .lower2-down {
        text-align: center;
    }

    .desc .btn {
        margin-top: 2em;
    }

    .lower4-img {
        margin-left: 0;
        align-items: center;
    }

    .footer {
        padding: 2em;
    }

    .links {
        width: 100%;
        text-align: center;
    }

    .rows ul li {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .footer-down {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .containera {
        flex-direction: column;
        align-items: center;
        gap: 1em;
        width: 100%;
    }
}